<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="description" content="{{ env('GUILD_NAME') }} is a Dragon Nest SEA guild for unique adventurers and friends. Join our Philippines-based community!">
	<meta name="keywords" content="Dragon Nest SEA, Guild, Community, Philippines">
	<meta name="author" content="Kiratrizon">
    @icon('assets/peculiarlads-icon-ice.png')
    

    <title>PeculiarLads Bot {{ $version }} Development Update</title>
    <meta name="description" content="Latest updates to the PeculiarLads Discord bot.">

    @vite('resources/css/announcement.css')
</head>
<body>
<div class="announcement-shell">
    <div class="announcement-card">
        <article class="prose prose-invert max-w-none">
            {{{ $html }}}
        </article>
    </div>
</div>
</body>
</html>