@layouts.pecu.dashboard()

@slot('styles')
<link href="https://unpkg.com/gridjs/dist/theme/mermaid.css" rel="stylesheet" />
@end

@slot('main')
<section class="flex flex-col items-center justify-center flex-1 px-4 py-20">
    <h1>Members</h1>
    <table id="table" class="w-full">
    </table>
</section>

@vite('resources/ts/admin/members.ts')
@end

@endlayouts.pecu.dashboard