@layouts.pecu.dashboard()

@slot('main')
<section class="flex flex-col items-center justify-center flex-1 px-4 py-20 gap-8">
    <h1 class="text-3xl font-bold text-yellow-300">Home</h1>
</section>
@end
@endlayouts.pecu.dashboard